/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.blue-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: "Exo 2 Light", sans-serif;
  color: #FFFFFF;
  background-color: #3940d7;
  border-radius: 20px;
  border: none;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  -webkit-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.blue-button, .blue-button:active, .blue-button:focus {
  border: none;
  padding: 0;
}

.blue-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 42px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.blue-button:hover:before {
  width: 100%;
}

header {
  height: 130px;
  background-color: #3940d7;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 30px;
  padding-left: 30px;
}

.header-h1 {
  font-size: 22px;
}

.header-controls {
  top: 35px;
  left: 27%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 45%;
}

.update-img {
  background-color: transparent;
  height: 30px;
  width: 30px;
  background-image: url("../../img/update.png");
  background-position: center;
  background-size: cover;
  margin-left: 50px;
  -webkit-transition: -webkit-transform 0.7s linear;
  transition: -webkit-transform 0.7s linear;
  -o-transition: transform 0.7s linear;
  transition: transform 0.7s linear;
  transition: transform 0.7s linear, -webkit-transform 0.7s linear;
}
.update-img, .update-img:active, .update-img:focus {
  border: none;
  padding: 0;
}

.update-img:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.update-img-animation {
  -webkit-animation: animation-button 0.7s infinite linear;
  animation: animation-button 0.7s infinite linear;
  -webkit-animation-name: animation-button;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: animation-button;
  -moz-animation-duration: 0.7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: animation-button;
  -o-animation-duration: 0.7s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

@-webkit-keyframes animation-button {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animation-button {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=Header.css.map */
