footer {
    height: 80px;
    font-family: "Exo 2 Light", sans-serif;
    background-color: #3940d7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    position: relative;
    z-index: 0;

    padding-right: 30px;
    padding-left: 30px;
}

.link-to-github {
    text-decoration: none;
    color: white;
}

.link-to-github:hover {
    color: white;
}

.link-to-github p {
    margin: 0;
}
