/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#scroll__top {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 32px;
    height: 32px;
    background: url(/src/img/scroll_top.png) 50% 50% no-repeat;
    border-radius: 50%;
    opacity: 0.5;
}

#scroll__top:hover {
    opacity: 1;
}
