// fonts
$medium-font-family: "Exo 2 Medium", sans-serif;
$light-font-family: "Exo 2 Light", sans-serif;

// colors
$black-color: #252525;
$white-color: #FFFFFF;
$blue-color: #3940d7;
$light-blue-color: #F0F1FF;
