.about-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100%;
}

.article-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.article-panel h1 {
    font-size: 20px;
    word-break: break-all;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 20px;
}

.article-title, .read-button {
    text-decoration: none;
    color: inherit;
}

.go-back-button {
    min-height: 30px;
    min-width: 30px;
    background-image: url('../../img/go_back.png');
    background-position: center;
    background-size: cover;
    margin-right: 10px;

    transition: transform .7s ease-in-out;
}

.go-back-button:hover {
    transform: rotate(360deg);
}

.optional-text {
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.article-info {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: inherit;
    box-sizing: border-box;

    word-wrap: break-word;

    background-color: #F0F1FF;
    font-size: 16px;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-author, .article-date, .read-button, .read-button-grey {
    margin-right: 5%;
    margin-left: 5%;
}

.blue-words {
    color: #3940d7;
}

.read-button {
    min-height: 30px;
    min-width: 30px;
    background-image: url("../../img/read.png");
    background-position: center;
    background-size: cover;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.read-button-grey {
    min-height: 30px;
    min-width: 30px;
    background-image: url("../../img/grey_read.png");
    background-position: center;
    background-size: cover;
}

.comments-counter-container p {
    margin: 0;
}

.comments-counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
}