/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.blue-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: "Exo 2 Light", sans-serif;
  color: #FFFFFF;
  background-color: #3940d7;
  border-radius: 20px;
  border: none;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  -webkit-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.blue-button, .blue-button:active, .blue-button:focus {
  border: none;
  padding: 0;
}

.blue-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 42px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.blue-button:hover:before {
  width: 100%;
}

.about-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
}

.article-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

.article-panel h1 {
  font-size: 20px;
  word-break: break-all;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 20px;
}

.article-title, .read-button {
  text-decoration: none;
  color: inherit;
}

.go-back-button {
  background-color: transparent;
  min-height: 30px;
  min-width: 30px;
  background-image: url("../../img/go_back.png");
  background-position: center;
  background-size: cover;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  -o-transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}
.go-back-button, .go-back-button:active, .go-back-button:focus {
  border: none;
  padding: 0;
}

.go-back-button:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}

.optional-text {
  font-size: 16px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #F0F1FF;
  font-size: 16px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.article-author, .article-date, .read-button, .read-button-grey {
  margin-right: 5%;
  margin-left: 5%;
}

.blue-words {
  color: #3940d7;
}

.read-button {
  min-height: 30px;
  min-width: 30px;
  background-image: url("../../img/read.png");
  background-position: center;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.read-button-grey {
  min-height: 30px;
  min-width: 30px;
  background-image: url("../../img/grey_read.png");
  background-position: center;
  background-size: cover;
}

.comments-counter-container p {
  margin: 0;
}

.comments-counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
}

.main-part {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/*# sourceMappingURL=ArticlePage.css.map */
